<!DOCTYPE html>
<html>
<head>
  <title>Testapp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
  <%= javascript_include_tag 'jquery.fancybox.pack.js' %>
  <%= stylesheet_link_tag 'jquery.fancybox.css' %>
  <%= imaginable_includes_tag %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
